

body {
    padding-top: 50px;
    padding-bottom: 20px;
}  


.blocoVerde a{
	padding: 5px;
	padding-top: 15px;
   padding-right: 15px;
   padding-bottom: 15px;
   padding-left: 15px;
	
	background-color:#3b978c;
	box-shadow:#246C64 0 6px 0;
}

.blocoRoxo a{
	padding: 5px;
	padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;

	background-color:#64529e;
	box-shadow:#533D78 0 6px 0;
	}
.blocoVermelho a{
	padding: 5px;
	padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;

	background-color:#d62b51;
	box-shadow:#813943 0 6px 0;
}
.blocoLaranja a{
	padding: 5px;
	padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;

	background-color:#ea6532;
	box-shadow:#9D4915 0 6px 0;
}
.blocoVerde a,.blocoRoxo a,.blocoVermelho a,.blocoLaranja a{
	padding:15px;
	display:block;
	width: auto;
	text-align:center;
	margin:15px 0;
	list-style:none;
	font-weight:bold;
	color:#fff;
	text-decoration:none;
	transition:all 0.2s ease-in-out;
	border-radius:3px;
}

