@CHARSET "ISO-8859-1";



body, input, select, textarea, button, label {
    font-family: tahoma;
    
   }

.linhaBranca {
	background-color: #;
	height:3px;
	margin-left:98%;
}
.linhaAzulEscura {
	margin-top:-10px;
	background-color: #5DA9E9;
	height:16px;	
	
}
.background {
	background-color: #ABCFD6;
	height:100%;
	margin-right:0%;
	margin-left: 0%;
	 
}

.label {
	text-align:center;
	font-size:medium;  
	text-decoration:none;
	color:white; 
	font-weight:bold; 
	
	
}
.botao {
    margin-top:20px;
	text-align:center;
	font-size:medium;  
	font-weight:normal; 
	text-decoration:none;
	border-radius:5px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    
    
    }
    
.input {
    margin-top:25px;
    margin-bottom:5px:
	text-align:center;
	font-size:medium;  
	text-decoration:none;
	color:black; 
	font-weight:normal; 
	margin-left:10px; 
    width:350px;
    border-radius:5px;

    
		
}
.input:focus, select:focus, textarea:focus{
      background: #D6F5FF;
 
		
}

a:link { /*cor do link quando não foi visitado*/
	color: #FFF;
	text-decoration: none;
}
a:visited {  /*cor lilas quando visitado o link*/
	color: #909;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}