@CHARSET "ISO-8859-1";

#conteudo {
		width: 70%;
		float: right;
	}

#menu { 
		margin: 0; 
		padding: 0px;
		
		  margin-bottom: 0px;
    	border:0px;
    	-webkit-border-radius: 0px;
    	-moz-border-radius: 0px;
    	border-radius: 0px;
		}

#menu ul li {
		margin: 0; 
		padding: 0px;
		border-bottom: 1px solid #CCC;
		text-align: left;
		list-style-type: none;
		}

#menu a:link {
		background: #F5F5F5;
		color: #666;
		font-weight: bold;
		text-decoration: none;
		padding: 8px;
		display: block;
		}
		
		#menu a:hover {
		background: #E5F0FF;
		color: #039;
		}